<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<style>
  table, th, td {
    border:1px solid black;
}
</style>
<body>
  <table style="width:50%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Created On</th>
      <th>Action</th>
    </tr>
    <%accountList.forEach(account => {%>
    <tr>
      <td><%= account.id %></td>
      <td><%= account.name %></td>
      <td><%= account.owner %></td>
      <td><%= account.createdAt %></td>
      <td> <a href="accounts/:<%=account._id %>">Views</a> </td>
    </tr>
    <%})%>
    </tr>
  </table>
<script src="script/app.js"></script>
</body>
</html>